---
const {href, imgSrc, title, description} = Astro.props;
import { Button } from "@components/odyssey-theme";
---

<style>
  .feature-card {
    background-color: var(--theme-surface-1);
    color: var(--theme-on-surface-1);
    border-radius: 8px; /* Less rounded corners */
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* More pronounced shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 320px; /* Compact card width */
    margin: 1rem; /* Margin around the card */
    display: flex;
    flex-direction: column;
  }
  .feature-card:hover {
    transform: translateY(-5px); /* Slight elevation on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  .feature-card__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .feature-card__img-container {
    position: relative;
    overflow: hidden;
    /* border-bottom: 1px solid var(--theme-surface-2); */
  }
  .feature-card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
    max-height: 180px; /* Smaller image height */
  }
  .feature-card:hover .feature-card__img {
    transform: scale(1.05);
  }
  .feature-card__content {
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .feature-card__title {
    font-family: var(--theme-font-family-sans);
    font-size: 1.2rem; /* Slightly smaller font size */
    font-weight: 700;
    margin: 0.5rem 0;
    color: var(--theme-primary);
  }
  .feature-card__description {
    font-size: 0.8rem; /* Smaller font size for description */
    /* color: var(--theme-on-surface-2); */
    margin-bottom: 0.5rem; /* Margin below the description */
  }
  .feature-card__button-container {
    display: flex;
    justify-content: center; /* Center the button */
    margin-top: 1rem; /* Add some space above the button */
  }
</style>

<div class="feature-card">
  <a class="feature-card__link" href={href}>
    <div class="feature-card__img-container">
      <picture>
        <source srcset={`${imgSrc}.webp`} type="image/webp">
        <img class="feature-card__img" src={`${imgSrc}.png`} alt={title} loading="lazy" width="780" height="585" decoding="async">
      </picture>
    </div>
    <div class="feature-card__content">
      <h3 class="feature-card__title">{title}</h3>
      <p class="feature-card__description">{description}</p>
      <div class="feature-card__button-container">
        <Button>Learn More</Button>
      </div>
    </div>
  </a>
</div>
